@page
@model RazorLogin.Pages.TicketsPage.DeleteModel

@{
    ViewData["Title"] = "Cancel Ticket";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Cancel Ticket</h1>

    <div class="card shadow-sm border-light">
        <div class="card-body">
            <h3 class="text-center">Are you sure you want to cancel this ticket?</h3>
            <hr />

            <div>
                <h4 class="card-title">Ticket Information</h4>
                <dl class="row">
                    <dt class="col-sm-4 font-weight-bold">
                        Ticket Type:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ticket.TicketType)
                    </dd>

                    <dt class="col-sm-4 font-weight-bold">
                        Ticket Price:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ticket.TicketPrice)
                    </dd>

                    <dt class="col-sm-4 font-weight-bold">
                        Ticket Purchase Date:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ticket.TicketPurchaseDate)
                    </dd>

                    <dt class="col-sm-4 font-weight-bold">
                        Purchase ID:
                    </dt>
                    <dd class="col-sm-8">
                        <span class="font-italic">@Model.Ticket.PurchaseId</span>
                    </dd>
                </dl>
            </div>

            <form method="post" class="mt-4">
                <input type="hidden" asp-for="Ticket.TicketId" />
                <div class="text-center">
                    <input type="submit" value="Cancel Ticket" class="btn btn-danger btn-lg" />
                </div>
            </form>

            <div class="text-center mt-3">
                <a asp-page="./Index" class="btn btn-outline-secondary btn-lg">Back to My Tickets</a>
            </div>
        </div>
    </div>
</div>
