@page
@model RazorLogin.Pages.MembershipPage.CreateModel

@{
    ViewData["Title"] = "Purchase Membership";
}

<h1>Purchase Membership</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.MembershipStartDate" class="control-label"></label>
                <input asp-for="Customer.MembershipStartDate" class="form-control" />
                <span asp-validation-for="Customer.MembershipStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MembershipEndDate" class="control-label"></label>
                <input asp-for="Customer.MembershipEndDate" class="form-control" />
                <span asp-validation-for="Customer.MembershipEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MembershipType" class="control-label"></label>
                <input asp-for="Customer.MembershipType" class="form-control" />
                <span asp-validation-for="Customer.MembershipType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerEmail" class="control-label"></label>
                <input asp-for="Customer.CustomerEmail" class="form-control" />
                <span asp-validation-for="Customer.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
