@page "{foodStoreId:int}"
@model RazorLogin.Pages.Shop.GShop.Dining1.AddItemModel
@{
    ViewData["Title"] = "Add New Item";
}

<h2>Add New Item</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Item.ItemId" class="control-label">Item ID</label>
                <input asp-for="Item.ItemId" class="form-control" />
                <span asp-validation-for="Item.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemName" class="control-label">Item Name</label>
                <input asp-for="Item.ItemName" class="form-control" />
                <span asp-validation-for="Item.ItemName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Item.ItemCount" class="control-label">Item Count</label>
                <input asp-for="Item.ItemCount" class="form-control" type="number" />
                <span asp-validation-for="Item.ItemCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Item.RestockDate" class="control-label">Restock Date</label>
                <input asp-for="Item.RestockDate" class="form-control" type="date" />
                <span asp-validation-for="Item.RestockDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Item.ShopId" class="control-label">Shop ID (Optional)</label>
                <input asp-for="Item.ShopId" class="form-control" type="number" />
                <span asp-validation-for="Item.ShopId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Item.FoodStoreId" class="control-label">Food Store ID </label>
                <input asp-for="Item.FoodStoreId" class="form-control" type="number" />
                <span asp-validation-for="Item.FoodStoreId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Add Item</button>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}