@page
@model RazorLogin.Pages.Admin.FShps.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodStore</h4>
<hr />

<div class="alert alert-info">
    <strong>Note:</strong> Location must be unique.
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodStore.FoodStoreName" class="control-label"></label>
                <input asp-for="FoodStore.FoodStoreName" class="form-control" />
                <span asp-validation-for="FoodStore.FoodStoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodStore.FoodStoreLocation" class="control-label"></label>
                <input asp-for="FoodStore.FoodStoreLocation" class="form-control" />
                <span asp-validation-for="FoodStore.FoodStoreLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodStore.FoodStoreOpenTime" class="control-label"></label>
                <input asp-for="FoodStore.FoodStoreOpenTime" class="form-control" type="time" />
                <span asp-validation-for="FoodStore.FoodStoreOpenTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodStore.FoodStoreCloseTime" class="control-label"></label>
                <input asp-for="FoodStore.FoodStoreCloseTime" class="form-control" type="time" />
                <span asp-validation-for="FoodStore.FoodStoreCloseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodStore.FoodStoreCustomerCapacity" class="control-label"></label>
                <input asp-for="FoodStore.FoodStoreCustomerCapacity" class="form-control" />
                <span asp-validation-for="FoodStore.FoodStoreCustomerCapacity" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Food Stores and Dining</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
